h1 {
    background-color: #0975f1;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 50%;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
}
h2 {
  background-color: #0975f1;
  color: floralwhite;
  font-family: Helvetica, sans-serif;
  width: 25%;
  height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 30px;
  vertical-align: middle;
}
h6 {
  text-align: center;
}